<H1>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
  Saepe suscipit ipsam quidem quas sequi nulla accusantium eum
  recusandae tempore commodi quod voluptatibus in autem vel, officiis
  possimus voluptas incidunt natus nisi rem nihil iste nemo. Veritatis quisquam minus
  tenetur similique a repellendus illum quaerat sequi dolores fugit aperiam deleniti labore vel
  nisi consectetur inventore quibusdam, sunt alias soluta repudiandae deserunt ipsum cumque mollitia.
  Magni, atque eaque eius commodi, quo et expedita, ut voluptatem asperiores eligendi cumque consequatur
  exercitationem repellat nisi? Tenetur sed laborum repellat, accusantium eveniet mollitia est obcaecati
  nostrum voluptatibus praesentium non enim labore corrupti rem odit animi placeat nihil hic nemo expedita a
  dipisci. Cum dignissimos molestiae ullam, error similique voluptatem nam unde aspernatur, voluptates porro
  laudantium odio doloribus vel quis nisi excepturi odit. Aspernatur ullam quisquam tempore rerum assumenda quidem
  suscipit iste vitae recusandae. Quia labore eum voluptatem at? Deserunt architecto quo ipsa suscipit maxime, enim
  maiores tempora earum quam voluptate labore repellat. Illo id dignissimos voluptates. Tempora dignissimos repellat
  aut rem est nihil excepturi atque. Provident fugiat sequi tenetur laboriosam libero suscipit expedita cumque quidem
  ex repellendus alias dolores debitis odio temporibus facere quae velit pariatur totam, quos accusantium? Inventore
  similique ducimus error optio totam adipisci.
</H1>

<h1>{{title}}</h1>
<input #box
       (keyup.enter)="update(box.value)"
       (blur)="update(box.value)">


<h1>Age</h1>
<input #box1
       (keyup.enter)="updateName(box1.value)"
       (blur)="updateName(box1.value)">

<h1>Address</h1>
<input #box2
       (keyup.enter)="update(box2.value)"
       (blur)="update(box2.value)">

<h1>Animals</h1>
<input #box3
       (keyup.enter)="update(box3.value)"
       (blur)="update(box3.value)">

<h1>Car</h1>
<input #box4
       (keyup.enter)="update(box4.value)"
       (blur)="update(box4.value)">

<h1>House</h1>
<input #box5
       (keyup.enter)="update(box5.value)"
       (blur)="update(box5.value)">

<h1>Football team</h1>
<input #box6
       (keyup.enter)="update(box6.value)"
       (blur)="update(box6.value)">

<h1>Music</h1>
<input #box7
       (keyup.enter)="update(box7.value)"
       (blur)="update(box7.value)">

<h1>Craft</h1>
<input #box8
       (keyup.enter)="update(box8.value)"
       (blur)="update(box8.value)">

<H1>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
  Saepe suscipit ipsam quidem quas sequi nulla accusantium eum
  recusandae tempore commodi quod voluptatibus in autem vel, officiis
  possimus voluptas incidunt natus nisi rem nihil iste nemo. Veritatis quisquam minus
  tenetur similique a repellendus illum quaerat sequi dolores fugit aperiam deleniti labore vel
  nisi consectetur inventore quibusdam, sunt alias soluta repudiandae deserunt ipsum cumque mollitia.
  Magni, atque eaque eius commodi, quo et expedita, ut voluptatem asperiores eligendi cumque consequatur
  exercitationem repellat nisi? Tenetur sed laborum repellat, accusantium eveniet mollitia est obcaecati
  nostrum voluptatibus praesentium non enim labore corrupti rem odit animi placeat nihil hic nemo expedita a
  dipisci. Cum dignissimos molestiae ullam, error similique voluptatem nam unde aspernatur, voluptates porro
  laudantium odio doloribus vel quis nisi excepturi odit. Aspernatur ullam quisquam tempore rerum assumenda quidem
  suscipit iste vitae recusandae. Quia labore eum voluptatem at? Deserunt architecto quo ipsa suscipit maxime, enim
  maiores tempora earum quam voluptate labore repellat. Illo id dignissimos voluptates. Tempora dignissimos repellat
  aut rem est nihil excepturi atque. Provident fugiat sequi tenetur laboriosam libero suscipit expedita cumque quidem
  ex repellendus alias dolores debitis odio temporibus facere quae velit pariatur totam, quos accusantium? Inventore
  similique ducimus error optio totam adipisci.
</H1>
